table{
   height: 100%;
   width: 90%; 
   margin-top:80px ;
   margin-left: 50px;
}
table,tr{
    border: 1px solid white;
    border-collapse: collapse;
}
th,td{
    height: 40px;
    text-align: left;
}
table tbody tr:nth-child(odd){
   color: white; background-color: lightslategray;
}
.bcolor{
   color: white; background-color: green;
}
.b2color{
    color: black; background-color: goldenrod;
}
.b3color{
    color: white; background-color: crimson;
}